@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500&display=swap');
.typo{
  font-size: 2rem !important;
  transition: 0.3s !important;
  font-weight: 500;
}

.typo:hover{
  font-size: 2.25rem !important;
}

.container{
  min-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}

.link{
  text-decoration: none;

}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}